{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>Image Encryption</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group mt-3">
            {{ form.encryption_key.label }}
            {{ form.encryption_key(class="form-control") }}
            {% if form.encryption_key.errors %}
                {% for error in form.encryption_key.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">{{ form.submit.label }}</button>
    </form>
</div>
{% endblock %}
